<div class="container">
	<div class="card text-white bg-info mb-3">
	  <div class="card-body">
	      	<form class="form-horizontal" action="/admin/updateWord" method="post" autocomplete="off">
			  	<input id="updateWordId" type="hidden" name="_id" value="">
			    <div class="form-group">
			    	<label id="updateWordLabel"></label>
			    	<br>
			    	<label>Chinese Name</label>
			    	<input id="updateWordChineseName" type="text" class="form-control" placeholder="Enter name" name="chineseName" placeholder="Name" value="">
			    	<label>Chinese Phonetic</label>
			    	<input id="updateWordChinesePhonetic" type="text" class="form-control" placeholder="Enter name" name="chinesePhonetic" placeholder="Name" value="">
			    	<label>French Name</label>
			    	<input id="updateWordFrenchName" type="text" class="form-control" placeholder="Enter name" name="frenchName" placeholder="Name" value="">
			    	<button type="submit" class="btn mt-2" value="post">Update</button>
			  	</div>
	  		</form>
	  </div>
	</div>
</div>