<div class="container">
	<div class="card text-dark bg-info mb-3">
	  <div class="card-header text-white h3">Update a word</div>
	  <div class="card-body">
		      <table id="filteredTable" class="table table-striped bg-white">
                    <thead>
                        <tr>
                            <th style="width: 25%">Chinese Name</th>
                            <th style="width: 25%">Chinese Phonetic</th>
                            <th style="width: 25%">French Name</th>
                            <th style="width: 25%"><input type="text" id="filteredInput" onkeyup="filterTable()" placeholder="Search for names.." title="Type in a name"></th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <%
                            for(var i=0; i<words.length; i++) {
                        %>
                        <tr>
                            <td style="width: 25%"><%= words[i].chineseName %></td>
                            <td style="width: 25%"><%= words[i].chinesePhonetic %></td>
                            <td style="width: 25%"><%= words[i].frenchName %></td>
                            <td style="width: 25%"><a href=# onclick="addDivUpdateWord('<%= words[i].chineseName %>','<%= words[i].chinesePhonetic %>','<%= words[i].frenchName %>','<%= words[i]._id %>')"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
            				</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
	  </div>
	</div>
</div>
