<!DOCTYPE html>
<html>
    <head>
        <title><%= chapter.name %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            a:hover, /* OPTIONAL*/
            a:visited,
            a:focus
            {text-decoration: none !important;}
        </style>
        <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
        <script type="text/javascript"><% include ../scripts/chaptersScripts.js %></script>
    </head>
    <body style="background-color: #4C2117;">
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <div class="col-md-2">
                <form style="background-color: #fff;margin-top: 25px;padding:20px;" action="search" method="post" >
                    <h4 class = "text-center" >Search w/ Filters</h4>
                    <input class="form-group form-control" type="text" name="chapter" placeholder="Chapter (not required)" />
                    <input class="form-group form-control" type="text" name="character" placeholder="Word (not required)" />
                    <button id="Filter" type="submit" >Filter</button>
                </form>
                <div style="background-color: #fff;margin-top: 25px;padding:20px;">
                    <h3 class = "text-center" >Chapter List</h3>
                    <form action="dictionnary" method="post" id="choiceChapter">
                        <input type="hidden" name="_id" id="idChapter"/>
                        <ul class="list-group" style="list-style-type: none;">
                            <% for(var i=0; i<chapters.length; i++) { %>
                            <a href="#" onclick="selectChapter('<%= chapters[i]._id %>')">
                                <li class="h3 text-center my-1 text-dark">
                                    <%= chapters[i].name %>
                                </li>
                            </a>
                            <% } %>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="col-md-6 offset-md-2 text-center" style="background-color: #fff;margin-top: 25px;padding:20px;">
                <span class = "display-3" ><%= chapter.name %></span>
                <br>
                <br>
                <h3 class = "text-center" >Characters List</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Chinese word</th>
                            <th>Phonetic</th>
                            <th>French word</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<chapter.characters.length; i++) {  %>
                        <tr>
                            <td><button id="listen" class="btn btn-info btn-circle btn-xs btn-block" onclick="responsiveVoice.speak('<%= chapter.characters[i].chineseName %>;', 'Chinese Female')"><span class="fa fa-bullhorn"></span></button></td>
                            <td class="highlightable"><%= chapter.characters[i].chineseName %></td>
                            <td class="highlightable"><%= chapter.characters[i].chinesePhonetic %></td>
                            <td class="highlightable"><%= chapter.characters[i].frenchName %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <script>
                    var x = document.querySelectorAll(".highlightable");
                    for(var i=0 ; i<x.length ; i++){
                    x[i].addEventListener("click", function(){
                      if(this.style.backgroundColor == "red")
                          this.style.backgroundColor = "green";
                      else if(this.style.backgroundColor == "green")
                          this.style.backgroundColor = "initial";
                      else
                          this.style.backgroundColor = "red"
                    }, false);
                    }
                </script>
            </div>
        </div>
    </body>
</html>