<!DOCTYPE html>
<html>
    <head>
        <title>Chapter List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            a:hover, /* OPTIONAL*/
            a:visited,
            a:focus
            {text-decoration: none !important;}
        </style>
        <script type="text/javascript"><% include ../scripts/chaptersScripts.js %></script>
    </head>
    <body style="background-color: #4C2117;">
        <div class="container">
            <div class="h1 text-center offset-md-4 col-md-4 bg-secondary" style="background-color: #fff;margin-top: 25px;padding:20px;">Chapter List
            </div>
            <div class="offset-md-3 col-md-6 text-center h4">
                <form action="chapters/dictionnary" method="post" id="choiceChapter">
                    <input id="idChapter" type="hidden" name="_id" />
                    <ul class="list-group">
                        <% for(var i=0; i<chapters.length; i++) { %>
                        <a href="#" onclick="selectChapter('<%= chapters[i]._id %>')">
                            <li class="h2 my-1 list-group-item list-group-item-action list-group-item-secondary text-dark">
                                <%= chapters[i].name %>
                            </li>
                        </a>
                        <% } %>
                    </ul>
                </form>
            </div>
        </div>
    </body>
</html>